<div class="container">
  <div class="row">
    <h1>List of powers (<%= @powers.count %>)</h1>
    <% @powers.each do |power| %>
      <%= link_to power.name, power_path(power), classe: "col text-decoration-non" %>
    <% end %>
    <%= link_to "Add power", new_power_path(@power) %>
  </div>
</div>
