.card-about {
  background: #e8e8e8;
  border: 2px solid rgba(50, 50, 50, 1);
  box-shadow: 4px 4px rgba(50, 50, 50, 1), 4px 4px rgba(50, 50, 50, 1);

  h2 {
    font-size: 1.5em;
  }

  .fa-arrow-right {
    font-size: 3em;
  }

  .img {
    height: 40%;
    width: auto;
  }
}
