<div class="banner">
  <div class="container mt-5">
    <h1 style="font-size: 50px">Power Upgrade for <strong>everyone</strong>!</h1>
    <p>Change your life and get news powers/items</p>
    <%= link_to powers_path do%>
      <button class="button-confirm mt-0">Discord all powers</button>
    <% end %>
  </div>
</div>
