<div class="banner">
  <div class="container">
    <h1 class="text-center">Power Upgrade to <strong>everyone</strong>!</h1>
    <p class="text-center">Change your life and get news powers/items.</p>
  </div>
</div>
