.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.card-power {
  border-radius: 6px;
  width: 250px;
  height: 260px;
  transition: .3s ease;
  background: #fff;
  overflow: visible;
  border: 2px solid rgba(50, 50, 50, 1);
  box-shadow: 4px 4px rgba(50, 50, 50, 1), 4px 4px rgba(50, 50, 50, 1);
}

.card-img {
// background-color: #8785ff;
  height: 45%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-info {
  padding-top: 8%;
}

.card-footer {
  width: 100%;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0rem;
  color: #202020;
}

.text-body {
font-size: .9em;
margin-bottom: 1rem;
}

/*Button*/
.card-button {
  width: auto;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgba(50, 50, 50, 1);
  background-color: #e8e8e8;
  font-size: 0.9em;
  font-weight: 600;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
}

/*Hover*/
.card-power:hover {
transform: translateY(-2em);
box-shadow: rgba(255, 252, 236, 0.25) 0px 13px 47px -5px, rgba(34, 137, 255, 0.3) 0px 8px 16px -8px;
background-color: #e8e8e8;
}



.text-decoration-none {
color: #202020;
}

.card-info {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.material-symbols-outlined {
  color:#202020;
}

.per-day {
  display: contents;
  font-size: 10px;
  color: #444444;
}
